/* Companion stylesheet for ClusterPress */

body.clusterpress ul.user-social-icons {
	list-style: none;
	overflow: hidden;
	width: 40%;
	margin: 1em 0;
	padding-top: 1em;
}

body.clusterpress ul.user-social-icons li {
	display: inline-block;
	margin-left: 0;
	margin-right: 1em;
}

body.clusterpress ul.user-social-icons li a {
	text-decoration: none;
	border: none;
}

body.cp-site .type-clusterpress .cp-site-header-content div.cp-site-site-actions .button,
body.clusterpress .cp-pagination .cp-pagination-links a.next span,
body.clusterpress .cp-pagination .cp-pagination-links a.prev span {
	border: solid 1px #23282d;
	background-color: #23282d;
	color: #fff;
}

body.cp-site .type-clusterpress .cp-site-header-content div.cp-site-site-actions .button a {
	text-decoration: none;
	border: none;
	box-shadow: none;
	color: #fff;
}

body.cp-site .type-clusterpress .cp-site-header-content div.cp-site-site-actions .button:hover,
body.clusterpress .cp-pagination .cp-pagination-links a.next:hover span,
body.clusterpress .cp-pagination .cp-pagination-links a.prev:hover span {
	background-color: #8e3d58;
	color: #fff;
}

body.clusterpress .cp-pagination.top {
	border-bottom: solid 1px #23282d;
}

body.clusterpress .cp-pagination.bottom {
	border-top: solid 1px #23282d;
}

body.clusterpress .site-list > li div.cp-site-site-actions .button a,
body.clusterpress .site-list > li div.cp-site-site-actions .button .dashicons {
	color: #23282d;
}

body.clusterpress .site-list > li div.cp-site-site-actions .button:hover a,
body.clusterpress .site-list > li div.cp-site-site-actions .button:hover .dashicons {
	color: #8e3d58;
}

body.clusterpress form.edit-site-settings fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

body.clusterpress form.edit-site-settings fieldset ul {
	padding: 0;
}

body.clusterpress form.edit-site-settings fieldset ul:not(.children) > li {
	margin: 0;
}

body.clusterpress form.edit-site-settings fieldset > :last-child {
	margin-bottom: 0;
}

body.clusterpress form.edit-site-settings legend {
	border: 0;
	padding: 0;
}

body.clusterpress.cp-site #bbpress-forums form input[type="submit"],
body.clusterpress.cp-site #bbpress-forums form button[type="submit"] {
	background-color: #23282d;
	color: #fff;
}

body.clusterpress.cp-site #bbpress-forums form input[type="submit"]:hover,
body.clusterpress.cp-site #bbpress-forums form button[type="submit"]:hover {
	background-color: #8e3d58;
}

body.clusterpress.cp-site .wp-core-ui button.button,
body.clusterpress.cp-site #wp-link-wrap #wp-link-submit {
	border: 1px solid;
	color: #FFF;
	background-color: #23282d;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	font-size: 16px;
	font-size: 1em;
	line-height: 1;
	padding: .6em 1em .6em;
	height: auto;
	-webkit-border-radius: 0;
	border-radius: 0;
	text-shadow: none;
}

body.clusterpress.cp-site .wp-core-ui button.button:hover,
body.clusterpress.cp-site #wp-link-wrap #wp-link-submit:hover {
	color: #FFF;
	background-color: #8e3d58;
}

body.clusterpress.cp-site .wp-core-ui button.button:active,
body.clusterpress.cp-site #wp-link-wrap #wp-link-submit:active {
	color: #FFF;
	background-color: #23282d;
}

body.clusterpress.cp-site #bbpress-forums .bbp-submit-wrapper button {
	margin-right: 0;
}

#cp-cp_mentions a span.pending-count,
#cp-cp_user_following a span.pending-count {
	background-color: #8e3d58;
}

body.clusterpress .cp-content h2,
body.clusterpress .cp-pagination .cp-total-count {
	color: #8e3d58;
	font-style: italic;
}

body.clusterpress div.view-user-mentions ul li.new-mention {
	border-left: solid 3px #8e3d58;
}

body.cp-plugins .type-clusterpress .cp-extension-header-content div.cp-site-post-actions .button {
	background-color: #23282d!important;
	color: #fff;
	border-color: #23282d!important;
}

body.cp-plugins .type-clusterpress .cp-extension-header-content div.cp-site-post-actions .button:hover {
	background-color: #8e3d58!important;
	border-color: #8e3d58!important;
}

body.cp-plugins .type-clusterpress .cp-extension-header-content div.cp-site-post-actions .download-link .dashicons {
	vertical-align: bottom;
}

/* Search */
body.clusterpress .cp-search-area {
	position: relative;
}

body.clusterpress .cp-search-area [type="submit"] {
	bottom: 3px;
	padding: 0.5em 1em;
	position: absolute;
	right: 3px;
	top: 3px;
}

body.clusterpress .cp-search-area [type="submit"] .dashicons-search {
	height: 24px;
	top: -2px;
	width: 24px;
	display: block;
}

body.clusterpress form.cp-form .cp-search-area input[type=search] {
	width: 100%;
}

body.clusterpress form.cp-form .cp-form-section {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 37.5em) {
	body.clusterpress form.cp-form .cp-form-section {
		width: 30%;
		float: right;
		margin-left: 1em;
	}
}

/* ClusterPress Doc */
body.clusterpress.cp-site #primary .type-clusterpress.documentation button.cp-doc-new {
	background-color: #8e3d58;
	color: #fff;
	padding: 0.3em 0.4em;
}

body.clusterpress.cp-site #primary .type-clusterpress.documentation button.cp-doc-new a {
	color: #fff;
}

body.clusterpress.cp-site #primary .type-clusterpress.documentation button.cp-doc-new:hover {
	background-color: #23282d;
}

body.clusterpress.cp-site #primary .type-clusterpress.documentation button.cp-doc-new a:hover {
	background: none;
}

body.clusterpress.cp-site #primary .type-clusterpress.documentation form.cp-edit-doc #cp-doc-title {
	display: inline-block;
}

body.clusterpress.cp-site #primary .type-clusterpress.documentation form.cp-edit-doc a.doc-link {
	padding: 0.6em 0.5em;
	background-color: #23282d;
}

body.clusterpress.cp-site #primary .type-clusterpress.documentation form.cp-edit-doc a.doc-link:hover {
	background-color: #8e3d58;
	color: #fff;
}

body.clusterpress.cp-site #primary .type-clusterpress.documentation form.cp-edit-doc #cp-doc-status {
	width: 100%;
}

body.clusterpress.cp-site #primary .type-clusterpress.documentation form.cp-edit-doc #submit {
	padding: 1em 0.8em;
}

body.clusterpress #wp-link #link-options label span,
body.clusterpress #wp-link #link-options label input[type=text],
body.clusterpress #wp-link #link-options label input[type=url] {
	width: 100%!important;
}

body.clusterpress #wp-link #link-options label span {
	font-size: 90%;
	font-weight: bold;
	color: #8e3d58;
}

body.clusterpress #wp-link #link-options label span:empty {
	display: none;
}

body.clusterpress #wplink-link-existing-content,
body.clusterpress #wp-link #search-panel {
	display: none;
}

body.clusterpress .mce-panel .mce-abs-layout-item input.mce-textbox,
body.clusterpress .mce-panel .mce-abs-layout-item textarea.mce-textbox {
	color: #23282d;
	background: #fff;
	border: 1px solid #bbb;
	-webkit-border-radius: 0;
	border-radius: 0;
}

body.clusterpress .mce-panel .mce-abs-layout-item input.mce-textbox:focus,
body.clusterpress .mce-panel .mce-abs-layout-item textarea.mce-textbox:focus {
	color: #23282d;
	border-color: #8e3d58;
	outline: 0;
	box-shadow: none;
}

body.clusterpress .mce-window .mce-foot .mce-btn,
body.clusterpress .mce-window .mce-foot .mce-btn.mce-primary {
	border: 1px solid;
	color: #fff;
	background: #8e3d58;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	border-radius: 0;
}

body.clusterpress .mce-window .mce-foot .mce-btn.mce-primary {
	background: #23282d;
}

body.clusterpress .mce-window .mce-foot .mce-btn:hover,
body.clusterpress .mce-window .mce-foot .mce-btn.mce-primary:hover {
	border: 1px solid;
	color: #fff;
	background: #23282d;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	border-radius: 0;
}

body.clusterpress .mce-window .mce-foot .mce-btn.mce-primary:hover {
	background: #8e3d58;
}

body.clusterpress .mce-window .mce-foot .mce-btn button {
	color: #fff;
}
