/*
 * Theme Name: ClusterTheme
 *
 * Layout: Content-Sidebar
 *
 * Learn more: https://developer.wordpress.org/themes/basics/template-files/
*/

@media screen and (min-width: 37.5em) {
	.content-area {
		float: left;
		margin: 0 -25% 0 0;
		width: 100%;
	}
	.site-main {
		margin: 0 25% 0 0;
	}
	.site-content .widget-area {
		float: right;
		overflow: hidden;
		width: 25%;
	}
	.site-footer {
		clear: both;
		width: 100%;
	}

	aside.widget-area {
		padding-top: 2em;
		padding-left: 1.5em;
	}
}
