/* editor style */

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	padding: 0 1em;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

body,
button,
input,
select,
textarea {
	font-size: 16px;
	font-weight: 200;
	line-height: 1.5em;
	color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	color: #23282d;
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

blockquote {
	margin: 0.5em 0;
	padding-left: 1.5em;
	font-size: 18px;
	font-size: 1.125em;
	border-left: solid 3px #23282d;
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375em;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	color: #23282d;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0;
	padding-left: inherit;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ul li,
ol li {
	margin-left: 2em;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	width: 100%;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 2em;
}

table caption {
	font-size: 16px;
	font-size: 1em;
	margin: 24px 0;
	margin: 2em 0;
}

td {
	padding: 6px 10px 6px 0;
}

tbody tr:not(:last-child) {
	border-bottom: solid 1px #c0c0c0;
}

.gist tbody tr {
	border-bottom: none;
}

thead tr {
	border-bottom: 1px solid #8e3d58;
}

tfoot tr {
	border-top: 1px solid #8e3d58;
}

th {
	text-align: left;
}

a {
	color: #23282d;
}

a:visited {
	color: #23282d;
}

a:hover,
a:focus,
a:active {
	color: #8e3d58;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

ul.group-buttons {
	width: 100%;
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul.group-buttons li {
	display: inline-block;
	margin: 0 0 1em 1em;
}

ul.group-buttons li a {
	display: block;
	padding: 0.3em 0.5em;
	text-decoration: none;
	color: #8e3d58;
	font-weight: bold;
}

ul.group-buttons.boxes li a {
	background-color: #8e3d58;
	color: #fff;
	border: solid 1px #23282d;
}

ul.group-buttons.boxes li a:hover {
	background-color: #23282d;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter,
.wp-video {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object,
video,
twitterwidget {
	max-width: 100%;
	clear: both;
	display: block;
	margin: 1em auto;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin:0;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text, .wp-caption-text a {
	text-align: left;
	font-style: italic;
	font-size: 12px;
	font-size: 0.75em;
	line-height: 2;
	color: #757575;
}

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
	text-align: left;
	font-style: italic;
	font-size: 12px;
	font-size: 0.75em;
	line-height: 2;
	color: #757575;
}
