/* Email Included Stylesheet */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
table {
	border-spacing: 0;
}
table td {
	border-collapse: collapse;
}
.ExternalClass {
	width: 100%;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
	line-height: 100%;
}
.ReadMsgBody {
	width: 100%;
	background-color: #ebebeb;
}
table {
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
}
img {
	-ms-interpolation-mode: bicubic;
}
.yshortcuts a {
	border-bottom: none !important;
}

a,
a:hover,
a:visited,
a:active {
	color: #8e3d58;
	text-decoration: underline;
	border: none;
}

.container-padding.header {
	padding-top: 10px;
}

.container-padding.header span.light {
	color: #ffffff;
}

.container-padding.header span.dark,
.container-padding.header span.exp,
.container-padding.header span.dot {
	color: #8e3d58;
}

@media screen and (max-width: 599px) {
	.force-row,
	.container {
		width: 100% !important;
		max-width: 100% !important;
	}
}
@media screen and (max-width: 400px) {
	.container-padding {
		padding-left: 12px !important;
		padding-right: 12px !important;
	}
}
.ios-footer a {
	color: #aaaaaa !important;
	text-decoration: underline;
}
