body, html {
	margin: 0;
	overflow: hidden;
	-webkit-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	transition: opacity 400ms;
}

body, .onepage-wrapper, html {
	display: block;
	position: static;
	padding: 0;
	width: 100%;
	height: 100%;
}

.onepage-wrapper {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	padding: 0;
	-webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
	width: 100%;
	height: 100%;
}

.onepage-pagination {
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: 5;
	list-style: none;
	margin: 0;
	padding: 0;
}

.onepage-pagination li {
	padding: 0;
	text-align: center;
}

.onepage-pagination li a{
	padding: 10px;
	width: 4px;
	height: 4px;
	display: block;
}

.onepage-pagination li a:before{
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	background: rgba(0,0,0,0.85);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
	width: 10px;
	height: 10px;
	background: none;
	border: 1px solid black;
	margin-top: -4px;
	left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
	overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
	position: relative !important;
	top: auto !important;
	left: auto !important;
}

.disabled-onepage-scroll .onepage-wrapper {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	transform: none !important;
	-ms-transform: none !important;
	min-height: 100%;
}

.disabled-onepage-scroll .onepage-pagination {
	display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
	position: inherit;
}

body.clustertheme-front-page #page,
body.clustertheme-front-page #content {
	height: 100%;
	overflow: hidden;
}

header#masthead .site-branding {
	display:none;
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

a,
a:visited {
	text-decoration: none;
	color: #8e3d58;
}

#main {
	float: left;
	width: 100%;
	margin: 0 auto;
}

h1, h2 {
	width: 100%;
	float: left;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

h1 {
	margin-top: 100px;
	color: #23282d;
	margin-bottom: 5px;
	font-size: 70px;
	letter-spacing: -4px;
	font-weight: 100;
}

h2 {
	color: #23282d;
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 10px;
}

#main article.dark,
#main article.dark h1,
#main article.dark h2 {
	color: #fff;
}

#main article.dark {
	background-color: #23282d;
}

.panel1 h1 {
	color: #8e3d58;
}

#main h1 {
	padding:150px 50px;
	float: left;
	width: 100%;
	font-size: 45px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-weight: 100;
	margin: 0;
}

header {
	position: relative;
	z-index: 10;
}

#main article .page_container {
	position: relative;
	top: 15%;
	margin: 0 auto 0;
	max-width: 950px;
	z-index: 3;
	overflow: hidden;
}

#main article  {
	overflow: hidden;
}

#main article .entry-content .profiles-navigation ul {
	clear: both;
	overflow: hidden;
}

#main article .entry-content .profiles-navigation ul li {
	margin-left: 1em;
}

#main article.dark .entry-content .profiles-navigation ul li a,
#main article.dark ul.group-buttons.square li a {
	color: #fff;
}

.entry-header {
	overflow: hidden;
}

@media screen and (min-width: 37.5em) {
	#main article.has-post-thumbnail .entry-content,
	#main article.has-post-thumbnail .front-page-thumbnail {
		width: 48%;
		float: left;
		padding: 0.5em;
	}
}

#main article > img {
	position: absolute;
	max-width: 100%;
	z-index: 1;

}

#main .entry-content img {
	box-shadow: none;
	border: none;
}

#main article.has-post-thumbnail .front-page-thumbnail img {
	display: block;
	margin: 0 auto;
}

#main article h1 {
	text-align: center;
	padding: 0;
	margin-bottom: 15px;
	font-size: 70px;
}

#main article h2 {
	text-align: center;
	line-height: 160%;
	font-weight: 500;
}

body.disabled-onepage-scroll .onepage-wrapper  article {
	min-height: 100%;
	height: auto;
}

body.disabled-onepage-scroll #main article .page_container {
	padding: 20px;
	margin-top: 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body.disabled-onepage-scroll #main article:not(.panel1) .page_container {
	margin-top: 1em;
}

body.disabled-onepage-scroll article .page_container h1 {
	text-align: center;
	font-size: 50px;
}

body.disabled-onepage-scroll #main article > img {
	position: relative;
	max-width: 100%;
	bottom: 0;
}
