/* Maintenance Stylesheet */
* {
  box-sizing: border-box;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	overflow-y: scroll;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

#page {
	width: 100%;
	padding: 0;
	display: table;
	margin: 0;
	max-width: none;
	height: 100vh;
	background-color: #f1f1f1;
}

main {
	height: 90vh;
	display: table-cell;
	vertical-align: middle;
}

article {
	border: 1px solid #ddd;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	padding: 5px;
}

h1.maintenance-title {
	color: #23282d;
	font-size: 30px;
	font-weight: 500;
}

h1.maintenance-title span.dashicons {
	vertical-align: middle;
}

.maintenance-title span.light,
p {
	color: #23282d;
}

.maintenance-title span.dark {
	color: #8e3d58;
}

.maintenance-title span.exp {
	display: inline-block;
}

@media screen and (min-width: 37.5em) {
	#page {
		padding: 0 7%;
	}

	h1.maintenance-title {
		font-size: 40px;
	}

	article {
		width: 45%;
		padding: 20px;
	}
}
