/* Red raisin stylesheet */

body #headline {
	background-color: #af1E2d;
}

header .site-branding .site-title a {
	color: #af1E2d;
}

header .site-branding .site-title a span.dark,
header .site-branding .site-title a span.exp,
article .maintenance-title span.dark,
article .maintenance-title span.exp {
	color: #af1E2d;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: #af1E2d;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	border-color: #af1E2d;
}

a:hover,
a:focus,
a:active {
	color: #af1E2d;
}

ul.group-buttons li a {
	color: #af1E2d;
}

ul.group-buttons.boxes li a {
	background-color: #af1E2d;
}

.menu-toggle {
	background-color: #af1E2d;
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: #af1E2d;
}

.main-navigation.toggled ul.nav-menu li {
	background: #af1E2d;
}

.main-navigation.toggled ul.nav-menu li.light a {
	color: #af1E2d;
}

@media screen and (min-width: 37.5em) {
	body:not(.clustertheme-front-page) .main-navigation ul ul a {
		color: #af1E2d;
	}

	body:not(.clustertheme-front-page) .main-navigation ul > li.light a {
		color: #af1E2d;
		box-shadow: 0 0 2px 2px rgba(175, 30, 45, 0.6);
	}

	body:not(.clustertheme-front-page) .main-navigation ul > li.light a:hover {
		background-color: #af1E2d;
	}

	body:not(.clustertheme-front-page) .main-navigation ul.nav-menu > li.current_page_item:not(.light),
	body:not(.clustertheme-front-page) .main-navigation ul.nav-menu > li.current_page_parent:not(.light),
	body:not(.clustertheme-front-page) .main-navigation ul.nav-menu > li.current-menu-item:not(.light),
	body:not(.clustertheme-front-page) .main-navigation ul.nav-menu > li.current-menu-parent:not(.light) {
		background-color: #af1E2d;
	}
}

.post-navigation .nav-previous a .dashicons,
.post-navigation .nav-next a .dashicons,
.posts-navigation .nav-previous a .dashicons,
.posts-navigation .nav-next a .dashicons {
	color: #af1E2d;
}

.widget-area a:hover {
	color: #af1E2d;
}

.widget-title {
	border-bottom: solid 2px #af1E2d;
}

.entry-content thead tr {
	border-bottom: 1px solid #af1E2d;
}

.entry-content tfoot tr {
	border-top: 1px solid #af1E2d;
}

ol.comment-list li.awaiting-moderation .comment-awaiting-moderation {
	color: #af1E2d;
}
